.wp-block-cardano-connect-balance {
	--wpcc-title-icon: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><style>.cls-1{isolation:isolate;opacity:.5;}</style></defs><g class="cls-1"><path d="M89.46,31.24c.2.41.48.78.83,1.08.34.3.74.54,1.18.68.43.15.89.21,1.35.18.46-.03.9-.15,1.32-.35.41-.2.78-.48,1.08-.83.3-.34.54-.74.68-1.18.15-.43.21-.89.18-1.35s-.15-.9-.35-1.32l-6.26,3.07ZM92.93,58.55c-3.99,19.65-21.51,34.47-42.55,34.47v6.98c24.38,0,44.74-17.19,49.39-40.06l-6.84-1.39ZM50.38,93.02c-24,0-43.41-19.29-43.41-43.02H0C0,77.64,22.58,100,50.38,100v-6.98ZM6.98,50C6.98,26.27,26.38,6.98,50.38,6.98V0C22.58,0,0,22.36,0,50h6.98ZM87.9,46.51h-23.45v6.98h23.45v-6.98ZM50.38,6.98c17.19,0,32.04,9.91,39.08,24.26l6.26-3.07c-4.16-8.47-10.62-15.6-18.64-20.58C69.07,2.61,59.82-.02,50.38,0v6.98ZM99.77,59.94c1.56-7.71-5.04-13.43-11.87-13.43v6.98c3.53,0,5.52,2.7,5.03,5.06l6.84,1.39Z"/></g><path d="M66.83,50c0,2.22-.43,4.39-1.28,6.44-.85,2.06-2.08,3.89-3.65,5.47-1.56,1.57-3.4,2.8-5.46,3.65-2.05.85-4.22,1.28-6.44,1.28h-.93c-1.74,0-3.44-.7-4.67-1.93-1.25-1.25-1.94-2.91-1.94-4.67v-20.47c0-1.74.71-3.45,1.94-4.68,1.24-1.24,2.9-1.93,4.66-1.93h.93c2.22,0,4.39.43,6.44,1.28,2.06.86,3.9,2.08,5.47,3.66,1.57,1.57,2.8,3.41,3.65,5.46.85,2.06,1.28,4.22,1.28,6.44ZM48.23,60.23c0,.22.09.44.25.59s.37.24.59.24h.93c1.46,0,2.88-.28,4.23-.84,1.36-.56,2.56-1.37,3.59-2.4,1.04-1.04,1.85-2.25,2.41-3.59,1.11-2.7,1.12-5.77,0-8.47-.56-1.34-1.36-2.55-2.4-3.59s-2.24-1.84-3.59-2.4c-1.35-.56-2.77-.84-4.23-.84h-.93c-.22,0-.43.09-.59.24s-.25.38-.25.59v20.47Z"/><path d="M48.23,43.02c0,1.59-1.29,2.88-2.88,2.88h-9.3c-1.59,0-2.88-1.29-2.88-2.88s1.29-2.88,2.88-2.88h9.3c1.59,0,2.88,1.29,2.88,2.88ZM48.23,56.98c0,1.59-1.29,2.88-2.88,2.88h-9.3c-1.59,0-2.88-1.29-2.88-2.88s1.29-2.88,2.88-2.88h9.3c1.59,0,2.88,1.29,2.88,2.88Z"/></svg>');
	--wpcc-placeholder-icon: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.75 83.15"><defs><style>.cls-1{fill:%23ededed;}</style></defs><rect class="cls-1" width="273.68" height="35.56" rx="9.75" ry="9.75"/><rect class="cls-1" x="413.73" width="99.02" height="35.56" rx="9.75" ry="9.75"/><rect class="cls-1" y="47.6" width="261.26" height="35.56" rx="9.75" ry="9.75"/><rect class="cls-1" x="357.6" y="47.6" width="155.15" height="35.56" rx="9.75" ry="9.75"/></svg>');

	.balance-title {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		.balance-image {
			background-image: var(--wpcc-title-icon);
			background-size: cover;
			width: 24px;
			height: 24px;
			margin-right: 10px;
		}
		.balance-text {}
	}

	.balance-control {
		padding: 20px;
		background: white;
		border-radius: 24px;
	}

	.balance-placeholder {
		background-image: var(--wpcc-placeholder-icon);
		background-size: 100%;
		width: 100%;
		padding-bottom: 16.2%;
		margin-top: 20px;
	}
}
